In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from IPython.core.display import display, HTML
%matplotlib inline
import numpy as np
import plotly.graph_objs as go
import plotly.figure_factory as ff

In [55]:
init_notebook_mode(connected=True)

In [12]:
df = pd.read_csv('countries of the world.csv')

In [68]:
df.head().T

,0,1,2,3,4
Country,Afghanistan,Albania,Algeria,American Samoa,Andorra
Region,ASIA (EX. NEAR EAST),EASTERN EUROPE,NORTHERN AFRICA,OCEANIA,WESTERN EUROPE
Population,31056997,3581655,32930091,57794,71201
Area (sq. mi.),647500,28748,2381740,199,468
Pop. Density (per sq. mi.),"48,0","124,6","13,8","290,4","152,1"
Coastline (coast/area ratio),"0,00","1,26","0,04","58,29","0,00"
Net migration,"23,06","-4,93","-0,39","-20,71","6,6"
Infant mortality (per 1000 births),"163,07","21,52",31,"9,27","4,05"
GDP ($ per capita),700,4500,6000,8000,19000
Literacy (%),"36,0","86,5","70,0","97,0","100,0"
Phones (per 1000),"3,2","71,2","78,1","259,5","497,2"
Arable (%),"12,13","21,09","3,22",10,"2,22"
Crops (%),"0,22","4,42","0,25",15,0
Other (%),"87,65","74,49","96,53",75,"97,78"
Climate,1,3,1,2,3
Birthrate,"46,6","15,11","17,14","22,46","8,71"
Deathrate,"20,34","5,22","4,61","3,27","6,25"
Agriculture,"0,38","0,232","0,101",NaN,NaN
Industry,"0,24","0,188","0,6",NaN,NaN
Service,"0,38","0,579","0,298",NaN,NaN

In [25]:
df['Region'] = df['Region'].str.strip()

In [36]:
traces = []
for item in df['Region'].unique().tolist():
    trace = ff.create_table(df.groupby('Region').get_group(item).reset_index())
    traces.append(trace)

In [60]:
traces = []
for item in df['Region'].unique().tolist():
    dftemp = df[df['Region'] == item]
    trace = go.Table(visible=True if item==df['Region'].unique().tolist()[0] else False,
        header=dict(values=['Country', 'Population','Area (sq. mi.)'],
                    
                    align='left'),
        cells=dict(values=[dftemp.Country, dftemp.Population, dftemp['Area (sq. mi.)']],
                   
                   align='left'))
    traces.append(trace)

In [61]:
button_labels = df['Region'].unique().tolist()

In [62]:
table_vis = df['Region'].unique().tolist()

buttons_table = [{'label':lab,
             'method':'update',
             'args':[{'visible':[y==lab for y in table_vis]}]} for lab in button_labels]

update_menus = [{'active':0,
                'buttons':buttons_table,
                'y':1.2,
                'x':0.9}]

In [63]:
layout=go.Layout(height=800)

layout['updatemenus']=update_menus

TableFig = go.Figure(data = traces, layout = layout)

In [69]:
#iplot(TableFig)